<nav class="site-nav small-12 medium-3 columns">
  <header class="site-header">
    Products Website!
  </header>
  <ul class="side-nav">
    <li>{{#link-to 'home'}}Home{{/link-to}}</li>
    <li>{{#link-to 'products'}}All Products{{/link-to}}</li>

    <li class="divider"></li>

    {{#if isLoggedin}}
      <li><a href="#" {{action 'toggleAuth'}}>logout</a></li>
      <!-- <li><a href="#" {{action 'postProduct'}}>PostProduct</a></li> -->
    {{else}}
      <li>{{#link-to 'login'}}login{{/link-to}}</li>
    {{/if}}
  </ul>
</nav>
