<h1>Home!</h1>
<section class="products row">

	<ul class="small-block-grid-2 medium-block-grid-3 large-block-grid-4">
	{{#each product in model}}
		{{product-card product=product isCard=true}}
	{{/each}}
	</ul>

</section>

{{outlet}}
