{{!-- refactor page to live under products folder... --}}

{{!-- Show breadcrumbs of category / department --}}
{{!-- Product Title --}}
{{!-- Product Reviews *rating --}}
{{!-- Product Photo Gallery --}}
{{!-- Product Price --}}
{{!-- Product Quntity --}}
{{!-- Product Shipping info --}}
{{!-- Add to Cart Button --}}
{{!-- Product Description Excerpt --}}
{{!-- Similar Products --}}
{{!-- Product Full Description --}}
{{!-- Product Reviews Full List --}}

<div class="row">
  <div class="small-12 medium-4 columns">
    {{product-img product=model}}
  </div>
	<div class="small-12 medium-8 columns">
		<h1>{{title}}</h1>
		<p>{{details}}</p>
	</div>
</div>
